@import "tailwindcss";

:root {
  --background: oklch(0.9803 0.0223 87.15);
  --black: oklch(0.2435 0 0);
  --accent-purple: oklch(0.9077 0.0476 289.35);
  --accent-yellow: oklch(97.3% 0.074 102.7);
  --success: oklch(0.8803 0.1211 148.6);
  --gray: oklch(0.6969 0.0189 17.62);
  --light-gray: oklch(84.7% 0.016 17.5);
  --gray-on-yellow: oklch(0.5129 0.0267 285.42);
}

@theme inline {
  --color-background: var(--background);
  --color-black: var(--black);
  --color-success: var(--success);
  --color-accent-purple: var(--accent-purple);
  --color-accent-yellow: var(--accent-yellow);
  --color-gray: var(--gray);
  --color-light-gray: var(--light-gray);
  --color-gray-on-yellow: var(--gray-on-yellow);
  --font-serif: var(--font-instrument-serif);
  --font-sans: var(--font-instrument-sans);
  --font-digital: var(--font-digital-numbers);
}

body {
  background: var(--background);
  color: var(--black);
  font-family: var(--font-sans) sans-serif;
}
